<template>
  <div
    v-if="isOn"
    class="modal-wrap"
  >
    <div class="modal">
      <a
        href="#"
        class="btn close-btn"
        @click.prevent="onClose"
      >
        <div class="inner">
          <i class="icon">clear</i>
        </div>
      </a>

      <slot name="content" />
    </div>

    <div class="overlay" />
  </div>
</template>

<script>
  import { showPageScroll, hidePageScroll } from '../../utils';

  export default {
    props: {
      isOn: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      isOn(nextVal) {
        this.togglePageScroll(nextVal);
      }
    },
    methods: {
      onClose() {
        this.$emit('close');
      },
      togglePageScroll(isOn) {
        if (isOn) {
          hidePageScroll();
        } else {
          showPageScroll();
        }
      },
    }
  };
</script>

<style lang="scss" scoped>
  .modal-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: left;
    background: $white;

    .overlay {
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $white;
      opacity: 0.7;
    }

    .modal {
        position: relative;
        z-index: 500;
        display: flex;
        width: 50%;
        padding: 20px;
        margin: auto;
        background: $grey-light-f1;
        border-radius: 3px;
        box-shadow: 0px 1px 3px 0px $grey-7;

        .close-btn {
          position: absolute;
          top: 10px;
          right: 10px;
        }
    }
  }
</style>
