<template>
  <div
    data-component-group="auth-form"
    data-component="login-form"
  >
    <form @submit.prevent="onSubmit">
      <ul class="field-list">
        <li class="list-item">
          <text-field
            v-model="firstName"
            label="First name"
            placeholder="Enter first name ..."
            :error-messages="firstNameErrors"
            @blur="$v.firstName.$touch()"
          />
        </li>

        <li class="list-item">
          <text-field
            v-model="lastName"
            label="Last name"
            placeholder="Enter last name ..."
            :error-messages="lastNameErrors"
            @blur="$v.lastName.$touch()"
          />
        </li>
      </ul>

      <div class="form-actions">
        <button
          v-if="onSubmit"
          :disabled="isSubmitted"
          @click.prevent="submit"
        >
          {{ confirmTriggerLabel }}
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate';
  import { required, alpha } from 'vuelidate/lib/validators';
  import uid from 'uid';

  export default {
    mixins: [validationMixin],
    validations() {
      return {
        firstName: {
          required,
          alpha
        },
        lastName: {
          required,
          alpha
        },
      };
    },
    props: {
      confirmTriggerLabel: {
        type: String,
        default: 'Login'
      },
      onSubmit: {
        type: Function,
        default: undefined
      },
    },
    data() {
      return {
        firstName: '',
        lastName: '',
        isSubmitted: false
      };
    },
    computed: {
      firstNameErrors() {
        const errors = [];
        if (!this.$v.firstName.$dirty) {
          return errors;
        }
        if (!this.$v.firstName.required) {
          errors.push('First name is required!');
        }
        if (!this.$v.firstName.alpha) {
          errors.push('Your first name can only have alphabet characters.');
        }
        return errors;
      },
      lastNameErrors() {
        const errors = [];
        if (!this.$v.lastName.$dirty) {
          return errors;
        }
        if (!this.$v.lastName.required) {
          errors.push('First name is required!');
        }
        if (!this.$v.lastName.alpha) {
          errors.push('Your first name can only have alphabet characters.');
        }
        return errors;
      }
    },
    methods: {
      submit() {
        this.$v.$touch();

        if (!this.canSubmitRequest() || this.$v.$error || this.$v.pending) {
          return false;
        }
        this.sendLoginRequest();
      },
      clear() {
        this.$v.$reset();
        this.firstName = '';
        this.lastName = '';
        this.isSubmitted = false;
      },
      sendLoginRequest() {
        const { firstName, lastName } = this;
        const user = {
          id: uid(),
          firstName,
          lastName
        };

        this.isSubmitted = true;
        return this.onSubmit(user);
      },
      canSubmitRequest() {
        return this.firstName !== ''
          && this.lastName !== ''
          && !this.isSubmitted;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .field-list {
    .list-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-actions {
    margin-top: 18px;
    text-align: right;
  }
</style>
