<template>
  <div
    class="calendar-day-wrap"
  >
    <a
      href="#"
      class="day-btn"
      @click.prevent
    >
      <span
        v-if="hasEvents"
      >
        <div>{{ dayTitle }}</div>
        {{ dayEvents }}
      </span>
    </a>
  </div>
</template>

<script>
  export default {
    props: {
      day: {
        type: Number,
        required: true
      },
      eventList: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      hasEvents() {
        return this.eventList.length > 0;
      },
      dayTitle() {
        return this.eventList[0].title;
      },
      dayEvents() {
        const eventCount = this.eventList.length;
        const suffix = eventCount === 1 ? 'event' : 'events';
        return `${eventCount} scheduled ${suffix}`;
      }
    },
    watch: {
      eventList() {}
    },
    methods: {
      setActiveDay() {
        console.log(1234);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .calendar-day-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .day-btn {

  }
</style>
