<template>
  <div class="calendar-month-wrap">
    <div class="grid desktop-only legend">
      <div
        v-for="(item, index) in weekDays"
        :key="'l-' + index"
        class="cell weekday"
      >
        {{ item }}
      </div>
    </div>

    <div class="grid calendar">
      <div
        v-for="index in prevMonthGridDays"
        :key="'p-' + index"
        class="cell weekday is-inactive"
      />

      <div
        v-for="(item, index) in month"
        :key="'c-' + index"
        class="cell weekday"
      >
        <div class="count">
          {{ index + 1 }}
        </div>
        <DayPanel
          :day="index + 1"
          :event-list="item"
        />
      </div>

      <div
        v-for="index in nextMonthGridDays"
        :key="'n-' + index"
        class="cell weekday is-inactive"
      />
    </div>
  </div>
</template>

<script>
  import DayPanel from './Day';
  import { toInt } from '../../../utils';

  export default {
    components: {
      DayPanel
    },
    props: {
      date: {
        type: Object,
        required: true
      },
      eventList: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        month: [],
        weekDays: this.$moment.weekdays(true)
      };
    },
    computed: {
      prevMonthGridDays() {
        const { $moment, date } = this;
        const month = $moment().month(date.month).format('MM');
        const target = $moment(`${date.year}-${month}-01`);
        const dow = target.isoWeekday();

        return dow - 1;
      },
      nextMonthGridDays() {
        const { $moment, date } = this;
        const month = $moment().month(date.month).format('MM');
        const day = $moment(`${date.year}-${month}`, 'YYYY-MM').daysInMonth();
        const target = $moment(`${date.year}-${month}-${day}`);
        const dow = target.isoWeekday();

        return 7 - dow;
      }
    },
    watch: {
      eventList(nextVal) {
        this.generateMonth(nextVal);
      }
    },
    created() {
      this.generateMonth(this.eventList);
    },
    methods: {
      generateMonth(events) {
        const { $moment, date } = this;
        const month = $moment().month(date.month).format('MM');
        const dayCount = $moment(`${date.year}-${month}`, 'YYYY-MM').daysInMonth();
        const items = Array.from(
          Array(dayCount),
          (x, index) => events.filter(
            (event) => toInt(event.day) === index + 1
          )
        );

        this.month = items;

        return items;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;

    &.desktop-only {
      display: flex;
    }

    @media screen and (max-width: 991px) {
      margin: 0 auto;

      &.desktop-only {
        display: none;
      }
    }

    .cell {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      width: 100%;

      @media only screen and (min-width : 992px) {
        width: 14.2857%;
      }
    }
  }

  .legend {
    display: none;
    margin-bottom: 10px;
    text-align: left;

    .weekday {
      padding-left: 10px;
      font-size: 11px;
      color: $grey-9;
    }
  }

  .calendar {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px $grey-7;

    @media screen and (max-width: 991px) {
      max-width: 28em;
    }

    .weekday {
      background: $white;
      border-bottom: 1px solid $grey-light-f1;

      &.is-inactive {
        display: flex;
        background: $grey-light-f9;
      }

      @media only screen and (min-width : 992px) {
        min-height: 12vw;
        border-right: 1px solid $grey-light-f1;

        &:nth-child(7n+0) {
          border-right: 0;
        }

        &:nth-last-child(-n+7) {
          border-bottom: 0;
        }
      }

      .count {
        position: absolute;
        display: inline-block;
        padding: 6px;
        font-size: 13px;
        color: $grey-light-c9;
      }
    }
  }
</style>
