<template>
  <div
    class="calendar-wrap"
  >
    <MonthPanel
      :date="activeDate"
      :event-list="activeDateEventList"
    />
  </div>
</template>

<script>
  import MonthPanel from '../panels/calendar/Month';

  export default {
    components: {
      MonthPanel
    },
    props: {
      activeDate: {
        type: Object,
        required: true
      },
      eventList: {
        type: Array,
        default: () => {}
      }
    },
    computed: {
      activeDateEventList() {
        const { activeDate, eventList } = this;

        return eventList.filter(
          (event) => event.month === activeDate.month
            && event.year === activeDate.year
        );
      }
    }
  };
</script>

<style lang="scss" scoped>
  .calendar-wrap {
    padding: 0 60px;
  }
</style>
