<template>
  <div
    class="switch-wrap"
  >
    <div class="switch">
      <ul class="switch-actions">
        <li class="list-item">
          <a
            href="#"
            class="btn close-btn"
            @click.prevent="change(prevMonth())"
          >
            <div class="inner">
              <i class="icon">keyboard_arrow_left</i>
            </div>
          </a>
        </li>

        <li class="list-item">
          <div class="date">
            {{ displayedCurrently }}
          </div>
        </li>

        <li class="list-item">
          <a
            href="#"
            class="btn close-btn"
            @click.prevent="change(nextMonth())"
          >
            <div class="inner">
              <i class="icon">keyboard_arrow_right</i>
            </div>
          </a>
        </li>

        <li class="list-item">
          <a
            href="#"
            class="btn close-btn"
            @click.prevent="change(currentDate)"
          >
            <div class="inner">
              <i class="icon">calendar_today</i>
              Today
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      activeDate: {
        type: Object,
        required: true
      }
    },
    computed: {
      currentDate() {
        return this.$store.getters['calendar/date'];
      },
      displayedCurrently() {
        const { month, year } = this.activeDate;

        return `${month} ${year}`;
      },
      formattedDate() {
        const { $moment, activeDate } = this;
        const month = $moment().month(activeDate.month).format('M');

        return `${activeDate.year}-${month}-${activeDate.day}`;
      }
    },
    methods: {
      prevMonth() {
        const nextDate = this.$moment(this.formattedDate)
          .subtract(1, 'months')
          .startOf('month')
          .format('YYYY-MM-DD');

        return this.formatDateObject(nextDate);
      },
      nextMonth() {
        const nextDate = this.$moment(this.formattedDate)
          .add(1, 'months')
          .startOf('month')
          .format('YYYY-MM-DD');

        return this.formatDateObject(nextDate);
      },
      formatDateObject(date) {
        const { $moment } = this;

        return {
          day: $moment(date).format('D'),
          month: $moment(date).format('MMMM'),
          year: $moment(date).format('YYYY')
        };
      },
      change(date) {
        this.$emit('change', date);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .switch-wrap {
    padding: 0 60px;
    margin-bottom: 20px;

    .switch {
      display: flex;

      .switch-actions {
        .list-item {
          display: inline-flex;
          margin-right: 20px;

          .date {
            min-width: 220px;
            text-align: center;
            font-size: 28px;
          }
        }
      }
    }
  }
</style>
