<template>
  <div data-view="index">
    This is the index page
  </div>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: 'Homepage'
      };
    }
  };
</script>
