<template>
  <div data-view="not-found">
    This is the not found page
  </div>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: 'Not Found!'
      };
    }
  };
</script>
