<template>
  <div
    data-view="calendar"
  >
    <BasicModal
      :is-on="isAddNewEventModalOn"
      @close="toggleNewEventModal"
    >
      <template slot="content">
        <EventForm
          :on-submit="createCalendarEvent"
        />
      </template>
    </BasicModal>

    <BasicModal
      :is-on="isDayEventListModalOn"
      @close="toggleDayEventListModal"
    >
      <template slot="content">
        day events
      </template>
    </BasicModal>

    <div class="view-wrap">
      <div class="header">
        <div class="action-menu">
          <ul class="actions">
            <li class="list-item">
              <div class="btn">
                <div class="inner">
                  <i class="icon">person</i>
                  {{ userFullName }}
                </div>
              </div>
            </li>
            <li class="list-item">
              <a
                href="#"
                class="btn"
                @click.prevent="logoutUser"
              >
                <div class="inner">
                  <i class="icon">exit_to_app</i>
                  Switch user
                </div>
              </a>
            </li>
            <li class="list-item">
              <a
                href="#"
                class="btn"
                @click.prevent="toggleNewEventModal"
              >
                <div class="inner">
                  <i class="icon">add</i>
                  Create event
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <DateSwitcher
          :active-date="activeDate"
          @change="setCalendarDate"
        />
        <Schedule
          :active-date="activeDate"
          :event-list="userEventList"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import BasicModal from '../../components/modals/Basic';
  import EventForm from '../../components/forms/calendar/Create';
  import DateSwitcher from '../../components/calendar/Switch';
  import Schedule from '../../components/calendar/Schedule';
  import { hasKeys } from '../../utils';

  export default {
    components: {
      BasicModal,
      EventForm,
      DateSwitcher,
      Schedule
    },
    data() {
      return {
        isAddNewEventModalOn: false,
        isDayEventListModalOn: false
      };
    },
    computed: {
      activeUser() {
        return this.$store.getters['auth/user'];
      },
      userFullName() {
        const { firstName, lastName } = this.activeUser;
        return `${firstName} ${lastName}`;
      },
      userEventList() {
        return this.$store.getters['calendar/events'];
      },
      currentDate() {
        return this.$store.getters['calendar/date'];
      },
      selectedDate() {
        return this.$store.getters['calendar/schedule'].date;
      },
      activeDate() {
        const { currentDate, selectedDate } = this;

        return hasKeys(selectedDate)
          ? selectedDate
          : currentDate;
      }
    },
    created() {
      this.setCurrentDate();
    },
    methods: {
      logoutUser() {
        return this.$store.dispatch('auth/logout');
      },
      setCurrentDate() {
        const { $moment } = this;
        const date = {
          day: $moment().date(),
          month: $moment().format('MMMM'),
          year: $moment().format('YYYY')
        };

        return this.$store.dispatch('calendar/setCurrentDate', date)
          .then((res) => {
            this.setCalendarDate(this.activeDate);

            return res;
          })
          .catch((err) => err);
      },
      setCalendarDate(date) {
        return this.$store.dispatch('calendar/setCalendarDate', date)
          .then((res) => {
            this.getCalendarEvents();

            return res;
          })
          .catch((err) => err);
      },
      getCalendarEvents() {
        return this.$store.dispatch('calendar/getEvents', this.activeUser);
      },
      createCalendarEvent(event) {
        return this.$store.dispatch('calendar/createEvent', event)
          .then((res) => {
            this.isAddNewEventModalOn = false;

            return res;
          })
          .catch((err) => err);
      },
      deleteCalendarEvent(event) {
        return this.$store.dispatch('calendar/deleteEvent', event)
          .catch((err) => err);
      },
      toggleNewEventModal() {
        this.isAddNewEventModalOn = !this.isAddNewEventModalOn;
      },
      toggleDayEventListModal() {
        this.isDayEventListModalOn = !this.isDayEventListModalOn;
      }
    },
    metaInfo() {
      return {
        title: `${this.activeUser.firstName}'s schedule`
      };
    }
  };
</script>

<style lang="scss" scoped>
  .view-wrap {
    position: relative;
    z-index: 10;
    padding-bottom: 30px;

    .header {
      position: relative;
      width: 100%;
      height: 80px;
      margin-bottom: 30px;
      background: $grey-light-f1;
      box-shadow: 0px 1px 2px 0px $grey-7;

      .action-menu {
        position: absolute;
        bottom: 10px;
        left: 40px;

        .actions {
          .list-item {
            display: inline-flex;
            margin-left: 20px;
          }
        }
      }
    }

    .schedule {
      padding: 0 20px 20px;
    }
  }
</style>
