<template>
  <div data-view="single-event">
    This is the single event page
  </div>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: 'Schedule - Event details'
      };
    }
  };
</script>
