<template>
  <div
    data-component-group="calendar-form"
    data-component="create-form"
  >
    <form @submit.prevent="onSubmit">
      <ul class="field-list">
        <li class="list-item">
          <text-field
            v-model="title"
            label="Title"
            placeholder="enter title ..."
            :error-messages="titleErrors"
            @blur="$v.title.$touch()"
          />
        </li>

        <li class="list-item">
          <dropdown
            v-model="month"
            :items="months"
            label="Month"
            placeholder="Select month ..."
            :error-messages="monthErrors"
            @change="setDays"
            @blur="$v.month.$touch()"
          />
        </li>

        <li class="list-item">
          <dropdown
            v-model="day"
            :items="days"
            label="Day"
            placeholder="Select day ..."
            :disabled="hasGeneratedDays"
            :error-messages="dayErrors"
            @blur="$v.day.$touch()"
          />
        </li>

        <li class="list-item">
          <dropdown
            v-model="time"
            :items="hours"
            label="Time"
            placeholder="Select hour ..."
            :error-messages="timeErrors"
            @blur="$v.time.$touch()"
          />
        </li>
      </ul>

      <div class="form-actions">
        <button
          v-if="onSubmit"
          :disabled="isSubmitted"
          @click.prevent="submit"
        >
          {{ confirmTriggerLabel }}
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate';
  import { required } from 'vuelidate/lib/validators';
  import uid from 'uid';

  export default {
    mixins: [validationMixin],
    validations() {
      return {
        title: {
          required
        },
        month: {
          required
        },
        day: {
          required
        },
        time: {
          required
        }
      };
    },
    props: {
      confirmTriggerLabel: {
        type: String,
        default: 'Create event'
      },
      onSubmit: {
        type: Function,
        default: undefined
      },
    },
    data() {
      return {
        title: '',
        month: '',
        day: '',
        days: [],
        time: '',
        hours: this.getHours(),
        participants: [],
        details: '',
        isSubmitted: false
      };
    },
    computed: {
      titleErrors() {
        const errors = [];
        if (!this.$v.title.$dirty) {
          return errors;
        }
        if (!this.$v.title.required) {
          errors.push('Event title is required!');
        }
        return errors;
      },
      monthErrors() {
        const errors = [];
        if (!this.$v.month.$dirty) {
          return errors;
        }
        if (!this.$v.month.required) {
          errors.push('Event month is required!');
        }
        return errors;
      },
      dayErrors() {
        const errors = [];
        if (!this.$v.day.$dirty) {
          return errors;
        }
        if (!this.$v.day.required) {
          errors.push('Event day is required!');
        }
        return errors;
      },
      timeErrors() {
        const errors = [];
        if (!this.$v.time.$dirty) {
          return errors;
        }
        if (!this.$v.time.required) {
          errors.push('Event time is required!');
        }
        return errors;
      },
      owner() {
        const activeUser = this.$store.getters['auth/user'];

        return activeUser.id;
      },
      months() {
        return this.$moment.months();
      },
      hasGeneratedDays() {
        return this.days.length > 0;
      }
    },
    methods: {
      submit() {
        this.$v.$touch();

        if (!this.canSubmitRequest() || this.$v.$error || this.$v.pending) {
          return false;
        }
        this.sendEventCreateRequest();
      },
      clear() {
        this.$v.$reset();
        this.title = '';
        this.month = '';
        this.day = '';
        this.time = '';
        this.isSubmitted = false;
      },
      sendEventCreateRequest() {
        const { owner, title, year = '2020', month, day, time, participants, details } = this;
        const event = {
          id: uid(),
          owner,
          title,
          year,
          month,
          day,
          time,
          participants,
          details
        };

        this.isSubmitted = true;
        return this.onSubmit(event);
      },
      canSubmitRequest() {
        return this.title !== ''
          && this.month !== ''
          && this.day !== ''
          && this.time !== ''
          && !this.isSubmitted;
      },
      setDays() {
        const { $moment } = this;
        const month = $moment().month(this.month).format('MM');
        const dayCount = $moment(`2020-${month}`, 'YYYY-MM').daysInMonth();
        const items = Array.from(Array(dayCount), (x, index) => index + 1);

        this.days = items;

        return items;
      },
      getHours() {
        const { $moment } = this;
        const items = [];
        const hours = new Array(24).fill();
        const minutesParts = new Array(3).fill();
        const minutesStep = 15;

        hours.forEach((acc, index) => {
          let minutes = 15;
          items.push($moment({ hour: index }).format('HH:mm'));

          minutesParts.forEach(() => {
            items.push($moment({ hour: index, minute: minutes }).format('HH:mm'));
            minutes += minutesStep;
          });
        });

        return items;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .field-list {
    .list-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-actions {
    margin-top: 18px;
    text-align: right;
  }
</style>
