<template>
  <div>
    <span
      v-if="label"
      class="label"
    >
      {{ label }}
    </span>

    <div>
      <select
        :value="returnObject ? value[itemValue] : value"
        :readonly="readonly"
        :required="required"
        class="select-field"
        @input="onInput(itemValue, $event.target.value)"
        @change="$emit('change')"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
      >
        <option
          disabled
          value
        >
          {{ placeholder }}
        </option>
        <option
          v-for="(item, index) in items"
          :key="index"
          :value="returnObject ? item[itemValue] : item"
        >
          {{ returnObject ? item[itemText] : item }}
        </option>
      </select>
    </div>

    <div
      v-if="hasErrors"
      class="errors"
    >
      <ul class="error-list">
        <li
          v-for="(item, index) in errorMessages"
          :key="index"
          class="list-item"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { isStr, isArr, isObj } from '../../utils';

  export default {
    props: {
      value: {
        type: [Object, String],
        default: () => (
          this.returnObject ? {} : ''
        ),
        validate: (val) => (
          this.returnObject ? isObj(val) : isStr(val)
        )
      },
      items: {
        type: Array,
        default: () => (
          this.returnObject ? {} : []
        ),
        validate: (val) => (
          this.returnObject ? isObj(val) : isArr(val)
        )
      },
      returnObject: {
        type: Boolean,
        default: false
      },
      itemValue: {
        type: String,
        default: undefined
      },
      itemText: {
        type: String,
        default: undefined
      },
      label: {
        type: String,
        required: true
      },
      placeholder: {
        type: String,
        default: 'Please select an option ...'
      },
      required: {
        type: Boolean,
        default: false
      },
      readonly: {
        type: Boolean,
        default: false
      },
      errorMessages: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      hasErrors() {
        return this.errorMessages.length > 0;
      }
    },
    methods: {
      onInput(key, value) {
        this.$emit(
          'input',
          this.returnObject
            ? { ...this.value, [key]: value }
            : value
        );
      }
    }
  };
</script>

<style lang="scss" scoped>
  .select-field {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 4px 12px;
    background: $white;
    border: 1px solid $grey-light-c9;
    border-radius: 3px;
    font-size: 14px;
  }

  .label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: $grey-9;
  }

  .errors {
    .error-list {
      padding: 4px 0;

      .list-item {
        margin-top: 4px;
        color: $red-error;
        font-size: 12px;
      }
    }
  }
</style>
