<template>
  <div>
    <span
      v-if="label"
      class="label"
    >
      {{ label }}
    </span>

    <div>
      <input
        :type="type"
        :value="value"
        :readonly="readonly"
        :required="required"
        :placeholder="placeholder"
        class="text-field"
        @input="onInput($event.target.value)"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
      >
    </div>

    <div
      v-if="hasErrors"
      class="errors"
    >
      <ul class="error-list">
        <li
          v-for="(item, index) in errorMessages"
          :key="index"
          class="list-item"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: String,
        required: true
      },
      type: {
        type: String,
        default: 'text',
        validate: (val) => ['text', 'url', 'email', 'password', 'search'].indexOf(val) !== -1
      },
      label: {
        type: String,
        required: true
      },
      placeholder: {
        type: String,
        default: ''
      },
      required: {
        type: Boolean,
        default: false
      },
      readonly: {
        type: Boolean,
        default: false
      },
      errorMessages: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      hasErrors() {
        return this.errorMessages.length > 0;
      }
    },
    methods: {
      onInput(value) {
        this.$emit('input', value);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .text-field {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 4px 12px;
    background: $white;
    border: 1px solid $grey-light-c9;
    border-radius: 3px;
    font-size: 14px;
  }

  .label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: $grey-9;
  }

  .errors {
    .error-list {
      padding: 4px 0;

      .list-item {
        margin-top: 4px;
        color: $red-error;
        font-size: 12px;
      }
    }
  }
</style>
