<template>
  <div
    data-view="auth"
    class="view-wrap"
  >
    <div class="panel">
      <div class="section">
        <span class="title">Create user</span>
        <LoginForm
          :on-submit="setGuestUser"
        />
      </div>

      <div class="section">
        <span class="title">User list</span>
        <ul class="user-list">
          <li
            v-for="(item, index) in userList"
            :key="index"
            class="list-item"
          >
            <a
              href="#"
              class="btn"
              @click.prevent="loginReturningUser(item)"
            >
              <div class="inner">
                <i class="icon">person</i>
                {{ `${item.firstName} ${item.lastName}` }}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="app-options">
      <ul>
        <li>
          <a
            href="#"
            class="btn option-link"
            @click.prevent="resetApp"
          >
            <div class="inner">
              <i class="icon">restore</i>
              Reset app data
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import LoginForm from '../../components/forms/auth/Login';

  export default {
    components: {
      LoginForm
    },
    computed: {
      userList() {
        return this.$store.getters['persistentData/users'];
      },
      hasStoredUsers() {
        return this.userList.length > 0;
      }
    },
    methods: {
      setGuestUser(user) {
        return this.$store.dispatch('auth/login', { user, persist: true })
          .catch((err) => err);
      },
      loginReturningUser(user) {
        return this.$store.dispatch('auth/login', { user })
          .catch((err) => err);
      },
      resetApp() {
        return this.$store.dispatch('auth/resetAll')
          .catch((err) => err);
      }
    },
    metaInfo() {
      return {
        title: 'Welcome!'
      };
    }
  };
</script>

<style lang="scss" scoped>
  .view-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: left;
    background: $white;

    .panel {
      display: flex;
      width: 50%;
      padding: 20px 0;
      margin: auto;
      background: #f1f1f1;
      border-radius: 3px;
      box-shadow: 0px 1px 3px 0px $grey-7;

      .section {
        width: 50%;
        padding: 10px 20px;

        &:first-child {
          border-right: 1px solid $white
        }

        .user-list{
          display: block;
          max-height: 240px;
          overflow: auto;

          .list-item {
            display: block;
            padding: 8px 4px 4px;;
            border-bottom: 1px solid $white;

            &:last-child {
              border: 0;
            }

            .btn {
              display: inline-flex;
            }
          }
        }
      }

    }

    .app-options {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 14px 0;
      text-align: center;

      .option-link {
        font-size: 12px;
        color: $grey-dark-3;

        &:hover {
          color: $red-error;
        }
      }
    }
  }
</style>
