@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $grey-dark-3;
  }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}

.title {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  color: $grey-dark-3;
}

.btn {
  margin-left: 0;
  margin-right: 0;

  .inner {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    white-space: nowrap;
    width: inherit;
  }

  .icon {
    margin-right: 4px;
  }

  &:hover .icon {
    text-decoration: none;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
